<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <ion-button class="top-160" size="large" expand="full" color="warning" [routerLink]="['/qr']">Escanear</ion-button>
  <ion-button class="top-50" size="large" expand="full" color="warning">Asistencias</ion-button>

</ion-content>
