<ion-header>
  <ion-toolbar color="warning">
  <ion-title>
    <ion-label>
      <h1>RegistrApp</h1>
    </ion-label>
  </ion-title>
 </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title>
        <h1>Iniciar sesion</h1>
      </ion-card-title>
      <ion-card-content>
        <form [formGroup]="LoginForm">
        <ion-item>
          <ion-label position="stacked">Nombre de usuario</ion-label>
          <ion-input type="text" formControlName = "name" [(ngModel)]="valuefromuser"></ion-input>
        </ion-item>
        <div *ngIf="LoginForm.get('name').hasError('required') &&
        LoginForm.get('name').touched ">Ingrese un Nombre</div>
        <br>
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type= "password" formControlName = "contra" [(ngModel)]="valuefrompass"></ion-input>
        </ion-item>
        <div *ngIf="LoginForm.get('contra').hasError('required') &&
        LoginForm.get('contra').touched ">Ingrese una contraseña</div>
      <br>
      <ion-button type= "submit" [disabled]="LoginForm.invalid"  color="warning"  (click)="saludar()" [routerLink]="['/inicioo']">
        Ingresar
      </ion-button>
    </form> 
  </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="warning">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/olv-contra']">¿Olvidaste tu contraseña?</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
